body{
  background-image: url('https://fjwp.s3.amazonaws.com/blog/wp-content/uploads/2017/01/26053440/Job-Seekers-Who-Used-FlexJobs-to-Find-Remote-Work-1024x512.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
h1{
    color: black;
    font-family: 'Suez One', serif;
    font-size: 60px;
    margin-left: 90px;
   
}
#input, #Add-task-input, #button{
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;    
}

#Add-task-input{
    color:black;
    font-family: 'Suez One', serif;
    font-size: 40px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    
}

#input{
    font-size: 18px;
    font-family: 'Suez One', serif;
    margin-top: 20px;
    width: 30%;
    padding-top: 10px;
   border-radius:8px;
}

#button{
    color: white;
    background-color:black;
    font-family: 'Suez One', serif;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px
}

#card{
    background-color: black;
    width: 60%;
    height: 400px;
    border-radius: 40px;
    margin-top: 120px;
    overflow: auto;
}

.list-title{
    color:white;
    font-family: 'Suez One', serif;
    font-size: 35px;
}

#home-task-div, 
#grocery-list-div,
#amazon-list-div{
    margin-top: 40px;
}

#work-tasks-div{
    background-color:rgb(16, 230, 245) ;
    height: 300px;
    width: 100%;
    border-radius: 40px;
    overflow:auto;
}

.work-li{
    color:white; 
    margin-bottom: 30px;
    font-size: 23px;
    font-family: 'Suez One', serif;
    
}

.work-complete-button{
   color:rgb(244, 248, 248);
   background-color: rgb(67, 63, 63);
   font-size: 20px;
   margin-left: 30px;
   border-radius: 40px;
}

form{
    margin-top: 40px;
}



