body{
  background-color: black;
}
h1{
    color: rgb(16, 230, 245);
    font-family: 'Suez One', serif;
    font-size: 60px;
    text-align: center;
}

.Add-task-input{
    color:rgb(16, 245, 100);
    font-family: 'Suez One', serif;
    font-size: 35px;
    padding-right: 10px;
    margin-left: 80px;
}

#work-input{
    font-size: 20px;
    font-family: 'Suez One', serif;
    background-color:rgb(16, 230, 245);
    width: 50%;
    height:20px;
    padding-top: 10px;
   border-radius:8px;
}

#work-button{
    background-color:rgb(16, 245, 100);
    font-family: 'Suez One', serif;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px
}

.card{
    background-color: rgb(16, 230, 245);
    height: 300px;
    width: 100%;
    border-radius: 40px;
}

.list-title{
    font-family: 'Suez One', serif;
    font-size: 35px;
    text-align: center;
}

#home-task-div, 
#grocery-list-div,
#amazon-list-div{
    margin-top: 40px;
}


